//@import '../../../main-styles.scss';


.centered-content {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #033a29;
}


.login-box{
    min-height: 220px;
    width: 100%;
    width: 450px;
    background: white;
    border-radius: 5px;
    padding: 35px;
}

.btn{
    margin-top: 35px;
}

.loginform{
    //text-align: center;
}

.main-div{
    /* width: 40%; */
    background: #fff none repeat scroll 0 0;
    margin: 10rem auto 30px;
    padding: 50px 70px 70px 71px;
    border-radius: 15px;
}

#captchaClass{
    width: 20% !important;
    height: auto !important;
    margin: 0 !important;
}

@media screen and (min-width:1000px) {
   
    .main-div{
        max-width: 40%;
    }

}

/*@media screen and (max-width:400px) {

    .main-div .input-group-prepend{
        display: block;
    }

    .main-div .input-group-prepend .input-group-text{
        margin-bottom: 25px;
        justify-content: center;
       // display: block;
    }

}*/

@media screen and (max-width:1050px) {
    .captchaClass {
        transform:scale(0.5);
        transform-origin:0 0;
        display: block;
        margin-bottom: 0;
    }
}

.panel{
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.panel p{
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 24px;
}

@media screen and (max-width:400px) {

    .main-div .input-group-prepend{
        display: block;
    }

    .main-div .input-group-prepend .input-group-text{
        margin-bottom: 25px;
        justify-content: center;
    }

}

.box{
    display: inline-block;
    //width: fit-content;
   
   // margin: 10rem auto 30px;
    padding: 10px 10px 10px 120px;
    padding-right: -10%;
    margin-bottom: 10%;
   padding-bottom: 10px;
   border-color: #f5f2f2;
   box-shadow: #f71212;
  
   text-align: left;
   justify-content: center;
   align-items: center;
   height: 55px;
}

